<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/assets/main.css">
  <title>Vanilla Codewars</title>
</head>
<body>
  <header>
    <a href="/btn">
      <button type="button"></button>
    </a>
    <img src="/img/codewarsLogo.png" alt="">
    <div class="title">
      Vanilla Codewars
    </div>
  </header>
  <div class="container">
    <div class="doggeabi">
      <% if(doggeabiScore >= ukuleleScore) { %>
        <div class="statusImg winner" id="doggeabi">
          <img src="https://postfiles.pstatic.net/MjAxOTAxMTFfODIg/MDAxNTQ3MTMzMzQ4NTUw.-Kw45C6GeNFCL6iF-FBB2WeA4hmwzUwuIzdUHF9Tt-Ig.iojHbtJgOeZdq8siggi5SbfSETwX9vl88pQDLyOtLoUg.PNG.choinashil/happyHD.png?type=w773" alt="">
        </div>
      <% } else { %>
        <div class="statusImg looser" id="doggeabiSizeUp">
          <img src="https://postfiles.pstatic.net/MjAxOTAxMTFfMTMw/MDAxNTQ3MTQxOTMxNjc4.PpmZp14dq7QicqLutCPtwk91_PhZxkzId_8uez4eulcg.vkATLyOfm10s1n-w_2zll8JQ1gdGaluSK5Lvrr1h2t8g.PNG.choinashil/sadHD.png?type=w773" alt="">
        </div>
      <% } %>
      <div class="usersWrapper">
      <div class="teamTitle">Doggeabi_team</div>
        <% for (let user in doggeabi) { %>
          <div class="user">
            <div class="name"><%= doggeabi[user].username %></div>
            <div class="current"><%= doggeabi[user].honor %></div>
            <div class="score"><%= doggeabi[user].honor - doggeabi[user].currentScore %></div>
          </div>
        <% } %>
      </div>
      <div class="user total">
        <div class="name">Total</div>
        <div class="current"></div>
        <div class="score"><%= doggeabiScore %></div>
      </div>
    </div>

    <div class="doggeabi-graph">
      <div style="height:<%= (doggeabiScore / (doggeabiScore + ukuleleScore)) * 100 %>%;"></div>
    </div>

    <div class="ukulele-graph">
      <div style="height:<%= (ukuleleScore / (doggeabiScore + ukuleleScore)) * 100 %>% %>px;"></div>
    </div>

    <div class="ukulele">
      <% if(doggeabiScore <= ukuleleScore) { %>
        <div class="statusImg winner" id="ukulele">
          <img src="https://postfiles.pstatic.net/MjAxOTAxMTFfNzAg/MDAxNTQ3MTQwOTcxNzA1.W9OEtX9SnpHKbbSAVNocGwgdPTPwI96etffMnomGr2Eg.zFs24r-lD5mQUXOZBve3uJnBd_ZrTe_f6XVFuWOZpRQg.PNG.choinashil/happyCH.png?type=w773" alt="">
        </div>
      <% } else { %>
        <div class="statusImg looser" id="ukulele">
          <img src="https://postfiles.pstatic.net/MjAxOTAxMTFfMzAg/MDAxNTQ3MTQwOTcxODc0.GTltcRQaM_pz9qx-VYPwSyZa7kOnurkR_Vrt59SLZtAg.gk_eI2j_f4y_PgRqCVfCuoRKJK2wcspTEHwoTjPgzDQg.PNG.choinashil/sadCH.png?type=w773" alt="">
        </div>
      <% } %>
      <div class="usersWrapper">
        <div class="teamTitle">Ukulele_team</div>
        <% for (let user in ukulele) { %>
          <div class="user">
            <div class="name"><%= ukulele[user].username %></div>
            <div class="current"><%= ukulele[user].honor %></div>
            <div class="score"><%= ukulele[user].honor - ukulele[user].currentScore %></div>
          </div>
        <% } %>
      </div>
      <div class="user total">
        <div class="name">Total</div>
        <div class="current"></div>
        <div class="score"><%= ukuleleScore %></div>
      </div>
    </div>
  </div>
</body>
</html>
